html,
body {
    overflow: hidden;
    background: white;
}

#global {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('bg.png') no-repeat center center fixed;
    overflow: hidden;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#leftUpCorner {
    position: absolute;
    top: 5%;
    left: 5%;
}

#leftDownCorner {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#rightUpCorner {
    position: absolute;
    top: 5%;
    right: 5%;
}

#rightDownCorner {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#groupMainMenu {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#btn_play {
    float: left;
    position: relative;
    left: 20%;
}

#btn_score {
    float: right;
    position: relative;
    right: 20%;
}


/* #btn_play div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
} */

#menu img:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}