body,
html {
    height: 100%;
}

#global {
    background-image: url('bg.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 813px) {
    #btn_story img {
        width: 30%;
        height: 30%;
    }
    #btn_htp img {
        width: 30%;
        height: 30%;
    }
    #btn_setting img {
        width: 30%;
        height: 30%;
    }
    #btn_exit img {
        width: 30%;
        height: 30%;
    }
    #btn_play img {
        width: 100%;
        height: 100%;
    }
    #btn_score img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 812px) {
    #btn_story img {
        width: 25%;
        height: 25%;
    }
    #btn_htp img {
        width: 25%;
        height: 25%;
    }
    #btn_setting img {
        width: 25%;
        height: 25%;
    }
    #btn_exit img {
        width: 25%;
        height: 25%;
    }
    #btn_play img {
        width: 50%;
        height: 50%;
    }
    #btn_score img {
        width: 50%;
        height: 50%;
    }
}

#global img:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}